@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'AIranianSans';
    src: url('../../public/font/AIranianSans.ttf');
}

body {
    font-family: 'AIranianSans';
}

.checkbox:checked~.navigation {
    right: 0;
}

.checkbox:checked~.hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked~.hamburger-menu .menu .line-1 {
    transform: rotateZ(-40deg);
}

.checkbox:checked~.hamburger-menu .menu .line-2 {
    opacity: 0;
}

.checkbox:checked~.hamburger-menu .menu .line-3 {
    transform: rotateZ(40deg);
}

.sub-header {
    @apply font-semibold text-base;
    color: #fa5652;
}

.main-head {
    @apply font-bold text-4xl;
    color: #035755;
}

.content {
    @apply text-sm leading-8;
    word-spacing: 0.2rem;
    color: #415e56;
}

.nav {
    color: #035755;
}

.nav .active,
.nav button {
    color: #fb4c47;
}

.nav .active::before {
    @apply absolute -bottom-3 w-1 h-1 rounded-full;
    content: "";
    background-color: #fb4c47;
    left: calc(50% - 2px);
}

.nav button {
    @apply rounded-full py-2 px-6 transition;
    border: 1px solid #fb4c47;
}

.nav button:hover {
    color: #f7f1f1;
    background-color: #fa5652;
}

.text button {
    @apply transition rounded-full py-2 px-9;
    color: #f7f1f1;
    background-color: #fa5652;
    border: 1px solid #fa5652;
}

#about-us .text button {
    @apply transition rounded-full py-2 px-9;
    color: #fa5652;
    background-color: rgba(250, 86, 82, 0.15);
    border: 1px solid rgba(250, 86, 82, 0.15);
}

.contagion-card {
    @apply flex flex-col justify-center items-center rounded-md shadow transition;
    background-color: rgb(255, 245, 245);
}

.contagion-card:hover {
    @apply shadow-xl border-b-4 border-red-600;
}

#solutions .mid {
    right: -15.5vw;
}

#solutions .circle {
    @apply font-bold text-2xl rounded-full absolute w-12 h-12;
    background-color: #fdb7b5;
    color: #fa5652;
}

@media only screen and (max-width: 1000px) {
    .sub-header {
        @apply text-2xl;
    }
    .main-head {
        @apply text-4xl;
    }
    .content {
        @apply text-sm;
    }
    .text button,
    #about-us .text button {
        @apply py-1 px-4;
    }
}

@media only screen and (max-width: 600px) {
    .sub-header {
        @apply text-base;
    }
    .main-head {
        @apply text-2xl;
    }
}